.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 500px;  /* change this to whatever you want */
    width: 100%;
};
.carousel{
    text-align: center !important;
    margin: 0px auto;
    width: 100% !important;
    right: 0;
}
.carousel .thumbs{
    text-align: center;
};
.carousel .thumb.selected{
    border: 1px solid black !important;
}

.feautre-home-page{
    background-image: url("https://i.postimg.cc/VNrcXXvp/featured.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(88, 87, 87);
    background-blend-mode: multiply;
}